@font-face {
    font-family: main;
    src: url(./Mier_B02-Bold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: main;
}
::-webkit-scrollbar{
    display: none;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav{
    height: 17vh;
    width: 100%;
    color: gray;
    position: sticky;
    top: 0px;
    background-color: #fff;
}
nav #nav-one{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 70px;
    border-bottom:1px solid #000;
}
#nav-one>div{
    display: flex;
    gap: 25px;
}
#nav-one #search{
    height: 6vh;
    width: 26vw;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid gray;
    padding-left:7px;
    border-radius: 5px;
    /* padding: 1px 10px; */
}
#nav-one #search input{ 
    width: 23vw;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    border: none;
    display: flex;
    margin-left:5px;
    align-items: center;
    outline-color: #fff;
    color:rgb(99, 36, 128);
}
.two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    cursor: pointer;
}
#download{
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 30px;
    text-align: center;
}
.two>div{
    width: 130px;
    margin-left: 30px;
    border-right: 2px solid gray;
    text-align: center;
}
#download img{
    height: 20px;
    margin-left: 20px;
}
#one-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-left: 70px;
    border: none;
    cursor: pointer;
}
#one-last img{
    height: 25px;
    width: 25px;
}
#one img {
    margin-left: 7px;
}
#supply{
    display: flex;
    align-items: center;
    text-align: center;
    /* border: 2px solid green; */
    height: 30px;
}
#nav-two{
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #000;
}
#nav-two ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#nav-two li{
    list-style: none;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    text-transform: capitalize;
}
#nav-two li:hover{
    border-bottom: 3px solid #000;
    font-size: 20px;
}
#page1{
    width: 80%;
    height: 50vh;
    background-color: rgba(248, 243, 243, 0.747);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:40px;
    /* margin-left: 10%;  */
    border-radius: 10px;
}
#page1left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 35px;
    padding-bottom: 25px;
    /* background-color: green; */
}
#page1left h1{
    font-size: 3vw;
    line-height:50px;
    letter-spacing: -0.5px;
    word-spacing: -1px;
}
#container{
    display: flex;
    gap: 30px;
}
.elem{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 20px;
    /* gap: 30px; */
    width:8vw;
    font-size: 15px;
    border-right: 1px solid #000;
}
.end {
    border: none;
}
#play{
    height: 6vh;
    width: 20vw;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 21%;
    background-color: #9f2089;
    text-align: center;
    border-radius: 3px;
}
#play p{
    font-size: 19px;
    text-align: center;
    color: #fff;
}
#page1Right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1Right img{
    height: 100%;
    width: 100%;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
#fashion {
    height: 80vh;
    width: 74%;
    margin-top: 25px;
    background: linear-gradient(#ffe8cd,#d9a6d0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second h1{
    margin-bottom: 5vw;
    font-size: 3vw;
}
.second>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#essential{
    height: 80vh;
    width: 80%;
    /* background-color: gray; */
    margin-top: 25px;
    margin-left: 90px;
    background: url(./Assest/essentialBg.webp);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#essential img{
    height: 80px;
    width: 195px;
    margin-left: 8%;
    margin-bottom: 25px;
}
#essential>div{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}
#item img{
    height: 50%;
}

#new{
    height: 80vh;
    width: 80%;
    /* background-color: gray; */
    margin-top: 25px;
    margin-left: 90px;
    background: url(./Assest/newStyle.webp);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#new img{
    height: 80px;
    width: 195px;
    margin-left: 8%;
    margin-bottom: 25px;
}
#new>div{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}
#item img{
    height: 50%;
}
#women{
    height: 80vh;
    width: 72%;
    margin-top: 25px;
    background: url(./Assest/Women.webp);
    background-repeat: no-repeat;
}
#women p{
    text-align: end;
    font-size: 35px;
    color: lightskyblue;
    font-weight: 400;
    font-stretch: ultra-condensed;
    word-spacing: -1px;
    margin-right: 10px;
}
#women h1{
    text-align: end;
    font-size: 50px;
    margin-right: 10px;
    color: #9f2089;
}
#women>div{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 3px;
    margin-top:5%;
    margin-left: 60%;
}
#women>div img{
    height: 40px;
    width: 180px;
    border-radius: 5px;
}
#supplier{
    height: fit-content;
    width: 72.5%;
    background-color: gray;
    background: url(./Assest/Supplier.webp);
    background-repeat: no-repeat;
    padding:20px 70px;
    line-height: 50px;
}
#supplier h1{
    color: #fff;
    font-size: 40px;
    letter-spacing: -1px;
}
#supplier p{
    color: #fff;
    font-size: 20px;
}
#supplyContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
#supplyContainer .item{
    height: 20px;
    width: 17vw;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid gray;
    /* border: 2px solid red; */
}
#supplier button{
    height: 70px;
    width: 150px;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: #9f2089;
    cursor: pointer;
}
#ProductHeading{
    display: flex;
    align-self: start;
    margin-left: 7.5%;
    margin-top: 20px;
}
#product{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    gap: 5px;
}
#product #pleft{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sort{
    height: 4%;
    width: 90%;
    border: 1px solid gray;
    text-align: start;
    padding-left:20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 4px;
}
#sort p{
    font-size: 1.2vw;
    letter-spacing: 1px;
    color: gray;
}
#downArrow{
    height: 20px;
    width: 20px;
}
#filter{
    height: 90%;
    width: 90%;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 4px;

}
#filter .filter{
    height: 10%;
    width: 90%;
    border-bottom: 1px solid gray;
    display: flex;
    align-self: self-start;
    padding: 2px;
    margin: 10px;
    flex-direction: column;
}
#filter>div p{
    font-size: 13px;
}

#categeory{
    display: flex;
    align-self: self-start;
    padding: 2px;
    margin: 10px;
    flex-direction: column;
    border-bottom: 1px solid gray;
}
#categeory input{
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 3px;
    text-align: left;
}
#categeory .item{
    display: flex;
    gap: 10px;
    margin-top: 12px;
    color: gray;

}
#categeory .item p{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 500;
}
.show{
    text-transform: uppercase;
    font-weight: 400x;
    margin: 10px 20px;
    color: #9f2089;
}
#product #pright{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#cards{
    width: 100%;
    height: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#card{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 10px 7px;
    gap: 10px;
    box-shadow: 1px 1px 5px gray;
    border: none;
    cursor: pointer;
}
#card:hover{
    box-shadow: 1px 1px 10px royalblue;
}
#card img{
    height: 50%;
    width: 94%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px 7px 0px 0px;
    margin-left: 7px;
}
#card p{
    font-size: 20px;
    text-transform: capitalize;
    color: gray;
}
#card .delivery{
    font-size: 15px;
    background-color: #d7d4d1;
    height: 20px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
}
#card .button{
    display: flex;
    align-items: center;   
    gap: 10px;
}
#card .button img{
    height: 15px;
    width: 15px;
}
#card button{
    height: 30px;
    width: 65px;
    font-size: 17px;
    background-color: #038d63;
    color: #fff;
    border: none;
    border-radius: 50px;
}
#card .Reviews{
    font-size: 12px;
    margin-top: 10px;
}
#card.price{
    color: #000;
}
#gender{
    height: 25%;
    width: 90%;
    /* border: 1px solid gray; */
}
#gender button{
    height: 35px;
    width:50px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}
#leftContainer{
    height: 100%;
    width: 90%;
    /* border: 2px solid green; */
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px;
}
#leftContainer>div{
    /* height: %; */
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    /* border: 2px solid yellow; */
}
#leftContainer>div img{
    height: 25px;
}
#leftContainer>div p{
    font-size: 24px;
    font-stretch: 2vh;
}